/AndroidThingsActivity
/AndroidThingsPeripheralActivity
/AndroidTVActivity
/BasicActivity
/BlankWearActivity
/BottomNavigationActivity
/common
/EmptyActivity
/FullscreenActivity
/GoogleAdMobAdsActivity
/GoogleMapsActivity
/GoogleMapsWearActivity
/LoginActivity
/MasterDetailFlow
/NavigationDrawerActivity
/ScrollActivity
/SettingsActivity
/TabbedActivity
/ViewModelActivity

